/* Base style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth; 
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* Google fonts */
@font-face {
    font-family: 'Lato';
    src: url("/assets/fonts/Lato-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: 'Lato';
    src: url("/assets/fonts/Lato-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url("/assets/fonts/Lato-Bold.ttf");
    font-weight: 700;
}

.title{
    text-align: center;
    background: #009688;
    font-size: 22px;
    color: white;
    font-weight: 400;
}
/* Header */
header{
    background-color: #009688;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  
}
.nav{
    display: flex;
    justify-content: center;
    
}

.nav__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    padding: 10px 20px;  

}
@media screen and (max-width: 768px){
    .nav__list{
        display: none;
    }
}
.nav__item{
    padding: 10px 25px;
}
.nav__item:hover{
    background-color: orange;
    transition: .3s;
}

.nav__link{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: white;
}


/* Intro */

.avatar{
    object-fit: cover;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.intro{
    padding-top: 110px;
}

.intro__inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.intro__content{
    width: 50%;
}
.intro__content h1{
    font-size: 30px;
    color: #009688;
    margin: 15px 0;
}
.intro__content h2{
    font-size: 25px;
    color: orange;
}
.intro__content p{
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 24px;
    margin: 15px 0;
    width: 80%;
}
/* Media intro */
@media screen and (max-width:930px) {
    .intro__inner{
        flex-direction: column;
    }

    .intro__content{
        text-align: center;
    }
    .intro__content p{
        width: 100%;
    }
}

/* Contacts */
.contacts{
  height: 360px;
  padding-top: 70px;
}
.contacts__inner ul{
  margin-top: 30px;
}

.contacts__item{
    list-style: inside;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
}

.contacts__item a{
    font-size: 16px;
    font-weight: 400px;
    color: #009688;
}

/* Skills */
.skills{
    height: 280px;
    padding-top: 70px;
}

.skills__inner ul{
    margin-top: 30px;
}

.skills__item{
    list-style: inside;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
}

.skills__item span{
    font-size: 16px;
    font-weight: 400px;
    color: #009688;
}

/* Code */
.code{
    padding-top: 70px;
}
code{
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    color: teal;
}

@media screen and (max-width: 900px){
    code{
        overflow-x: auto;
    }
}
.code-return,
.code-cgl{
    font-weight: 700;
    color: red;
}
.code-f{
    color: orange;
    font-weight: 700;
}
.code-function,
.code-condition{
    color: mediumvioletred;
    font-weight: 700;
}


/* Projects */

.projects{
    height: 200px;
    padding-top: 70px;
}
.projects__items{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.projects__item{
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
    background-color: #e3edd9;
    border: 1px dashed #009688;
    cursor: pointer;
}

.projects__item:hover{
    background-color: #009688;
    border: 1px dashed #e3edd9;
    transition: all 2s ease;
}

.projects__item:hover  .projects__link{
    color: white;
    transition: all 2s ease;
}

.projects__link{
    font-size: 16px;
    font-weight: 400px;
    color: #009688;
}

/* Education */
.education{
    height: 300px;
    padding-top: 70px;
}
.education__inner ul{
    margin-top: 50px;
}

.education__item{
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 700;
    color: #009688;
    border-bottom: 1px solid cyan;
}


.education__item span{
    font-size: 16px;
    font-weight: 400px;
    color: rgb(46, 46, 46);
    
}
/* Language */
.language{
    height: 300px;
    padding-top: 70px;
}
.language__inner ol{
    margin-top: 30px;
    margin-left: 20px;
}
.language__item{
   
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
   
}
.language__item span{
    font-size: 16px;
    font-weight: 400px;
    color: #009688;
}
/* Footer */

footer{
    background-color: #009688;
    height: 80px;
}

.footer__inner{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.copyright{
    color: white;
    font-size: 16px;
}

.github{
    color: white;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}
.github:hover{
    color: rgba(189, 236, 241, 0.62);
}
.rss{
    width: 121px;
    height: 45px;
    background-image: url(./assets/img/Logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}


pre{
    background: rgba(189, 236, 241, 0.62);
}

.header__nav-toggler{
    background-image: url(./assets/icons/burger-menu-icon.svg);
    background-repeat: no-repeat;
    width: 52px;
    height: 48px;
    background-color: transparent;
    border: none;
    display: none;
}

@media screen and (max-width: 768px) {
    .header__nav-toggler{
        display: block;
    }
}

.hide{
    display: block;
}

